/* div {
    background-image: url(http://www.librosweb.es/website/http://www.deplayeo.com/storage/locales/sign-min.jpgcss/images/logo.gif);
  }
   
  h1, h2, h3 {
    background-image: url(http://www.deplayeo.com/storage/locales/sign-min.jpg);
  }
   
  ul li {
    background-image: url(http://www.deplayeo.com/storage/locales/sign-min.jpg);
  } */